html, body {
	margin: 0;
	background: #f9f9f9;
	font-family: 'Roboto', sans-serif;
	overflow-x: hidden;
}

/****** Header ******/

.container {
	width: 80%;
	margin: 0 auto;
}

.logo {
	float: left;
}

nav {
	width: 100%;
	float: left;
}

nav img {
	max-width: 150px;
	margin-left: -20px;
	margin-right: 60px;
	margin-top: 12px;
}

nav ul {
	list-style: none;

}

nav li {
	display: inline-block;
	margin: 0 30px;
	padding-top: 15px;
	position: relative;
}

nav a {
	text-decoration: none;
	font-family: 'Roboto Light', sans-serif;
}


.navbar-light .navbar-nav .nav-link {
	color: #404040;
}

.navbar-light .navbar-nav .nav-link:hover {
	color: #404040;
}

nav .btn {
	background-color: #FF7E73;
	color: white;
}

nav .btn:hover {
	color: white;
}

i {
	opacity: 1;
}


/****** Page Hero ******/

.info {
	text-align: center;
	margin: 15rem 1rem 0rem 1rem;
}


.info h1 {
	font-size: 5rem;
	font-family: 'Roboto Black', sans-serif;
	color: #404040;
}

.info h1 span {
	display: block;
}

.info h5 {
	font-size: 1.5rem;
	font-family: 'Roboto Light', sans-serif;
	color: #404040;
}

.button {
  background-color: #FF7E73;
  border: none;
  color: white;
  border-radius: 6px;
  padding: 15px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: 500;
  margin: 4px 12px;
  cursor: pointer;
}

#button1:hover {
  background-color: #fa6b5e;
}

#button2 {
	border: 1px solid #C0C0C0;
	background-color: #f9f9f9;
	color: #404040;
}

#button2:hover {
	border: 1px solid #404040;
	color: black;
}

/****** Features ******/

.container-fluid {
  margin-top: 6rem;
}

.content {
	margin-top: 100px;
	margin-bottom: 100px;
}

#mockup1 {
	text-align: center;
}

.f1,.f2 {
	padding-left: 10%;
	padding-right: 10%;
	margin: 4rem 0;
}

#mockup2 {
	text-align: right;
}

.col-lg-6 img {
	width: 80%; 
	height: auto; 
	object-fit: contain; 
}


.sub-feature {
	margin: 1.25rem 0;
}

div h3 {
	text-align: left;
	font-family: Roboto;
	padding-bottom: 1rem;
}

.sub-feature p {
	font-family: Roboto;
	font-size: 1rem;
	text-align: left;
	margin-bottom: 0;
}

/****** Get Started ******/

.get-started {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 100%;
	height: 22rem;
	background-color: #FF7E73;
}

.get-started h1 {
	color: #f9f9f9;
	font-family: 'Roboto Black', sans-serif;
	margin: 1rem;	
}
.get-started h4 {
	text-align: center;
	color: #f9f9f9;
	font-family: 'Roboto Light';
	margin: 1rem;
}

#button3 {
	padding: 15px 20px;
	background-color: #F9F9F9;	
	color: #FF7E73;
	margin: 1rem;
}

#button3:hover {
	background-color: #F0F0F0;
	transition-duration: 0.2s;
}

/* Footer */

footer {
	background: #F9F9F9;
	padding: 90px 0;
}

.footer-container {
	max-width: 1300px;
	margin: auto;
	padding: 0 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap-reverse;
}

.footer-container .left-col img{
	width: 6rem;
	height: auto;
}

.social-media {
	margin: 20px 0;
}

.social-media a{
	color: #404040;
	margin-right: 25px;
	font-size: 22px;
	text-decoration: none;
	transition: .1s linear;
}

/* .social-media a:hover {
	color: #FF7E73;
} */

.social-media a:nth-child(1):hover{
	color: #4267B2;
}
.social-media a:nth-child(2):hover{
	color: #1DA1F2;
}
.social-media a:nth-child(3):hover{
	background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
-webkit-background-clip: text;
/* Also define standard property for compatibility */
background-clip: text;
-webkit-text-fill-color: transparent;
}
.social-media a:nth-child(4):hover{
	color: #FF0000;
}
.social-media a:nth-child(5):hover{
	color:  #BD081C;
}




.right-col h1 {
	font-size: 26px;
}

.border {
	width: 100px;
	height: 6px;
	margin: 10px 0;
	background: #FF7E73;
}

.newsletter-form {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

.txtb {
	flex: 1;
	padding: 18px 40px;
	font-size: 16px;
	color: #404040;
	background: #E8E8E8;
	border: none;
	font-weight: 700;
	outline: none;
	border-radius: 30px;
	min-width: 260px;
	margin-top: 12px;
}

form .btn {
	padding: 18px 40px;
	font-size: 16px;
	color: #f9f9f9;
	background: #FF7E73;
	border: none;
	font-weight: 700;
	outline: none;
	border-radius: 30px;
	margin-left: 20px;
	text-transform: capitalize;
	cursor: pointer;
	transition: opacity .1s linear;
	margin-top: 12px;
}

form .btn:hover {
	background-color: #fa6b5e;
	color: #f9f9f9;
}


/* media queries  */

@media screen and (max-width: 992px) {
  nav li {
	  margin: 0 2px;
  }

  .info h1 {
	  font-size: 4rem;
  }

  .footer-container {
	max-width: 600px;
  }

  .right-col {
	  width: 100%;
	  margin-bottom: 60px;
  }

  .left-col {
	  width: 100%;
	  text-align: center;
  }
  
}

@media screen and (max-width: 768px) {

	.btn-group-lg>.btn, .btn-lg {
		font-size: 1rem;
		line-height: 1;
		padding: 0.5rem 0.75rem;
	}
  
	.info h1 {
	  font-size: 2.5rem;
  	}

  .info h5 {
	  font-size: 1rem;
  	}

  .grid-container {
	  margin-top: 0;
	}

	.f1, .f2 {
		padding-left: 15%;
	}

	.get-started {
		height: 19rem;
	}

	.get-started h1 {
		font-size: 1.8rem;
	}

	.get-started h4 {
		font-size: 0.9rem;
	}
	 
	.content {
		margin-bottom: 0;
		margin-top: 50px;
	}

	form .btn {
		margin: 0;
		width: 100%;
		margin-top: 20px  ;
	}

	.fa-facebook-f {
		margin-left: 15px;
	}
	  

}