html, body {
	margin: 0;
	background: #f9f9f9;
	font-family: 'Roboto', sans-serif;
	overflow-x: hidden;
}

/****** Header ******/

.container {
	width: 80%;
	margin: 0 auto;
}

.logo {
	float: left;
}

nav {
	width: 100%;
	float: left;
}

nav img {
	max-width: 150px;
	margin-left: -20px;
	margin-right: 60px;
	margin-top: 12px;
}

nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
	margin-left: 50px;
}

nav li {
	display: inline-block;
	margin: 0 30px;
	padding-top: 45px;
	position: relative;
}

nav a {
	color: #070707;
	text-decoration: none;
	font-family: 'Roboto Light', sans-serif;
}

i {
	opacity: 1;
}


li.dropdown {
  display: inline-block;
}

.dropdown-content {
  margin-top: 0px;
  display: none;
  position: absolute;
  border-radius: 5px;
  background-color: #f9f9f9;
  min-width: 220px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
	background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.button-nav {
  float: right;	
  background-color: #FF7E73;
  border: none;
  color: white;
  padding: 9px 18px;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 32px;
  cursor: pointer;
}

/****** Page Hero ******/

.info {
	padding-top: 140px;
	text-align: center;
	width: 100%;
}
.info h1 {
	font-size: 72px;
	font-family: 'Roboto Black', sans-serif;
	color: #404040;
}
.info h5 {
	margin-top: -19px;
	font-size: 24px;
	font-family: 'Roboto Light', sans-serif;
	color: #404040;
}

.button {
  background-color: #CC655C;
  border: none;
  color: white;
  border-radius: 6px;
  padding: 15px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: 500;
  margin: 4px 12px;
  cursor: pointer;
}

#button1:hover {
	background-color: #994C45;
}

#button2 {
	border: 1px solid #C0C0C0;
	background-color: #f9f9f9;
	color: #404040;
}

#button2:hover {
	border: 1px solid #404040;
}

/****** Features ******/

.grid-container {
  margin-top: 95px;
  display: grid;
  grid-template-columns: auto auto;
  grid-row-gap: 120px;
  grid-column-gap: 30px;
}
.grid-item {
  font-size: 30px;
  text-align: center;
}

.feature-img { 
	max-width: 650px;
	border-radius: 24px;
}

div h3 {
	text-align: left;
	font-family: Roboto;
}

div p {
	font-family: Roboto;
	font-size: 16px;
	text-align: left;
}

#para1 {
	margin: auto 40px;
}

#para1 h3 {
	color: #404040;
}

#para2 h3 {
	color: #404040;
}

#para2 {
	margin-top: 50px;
	margin-left: 58px;
}

.feature-link {
	text-align: left;
	text-decoration: none;
	font-size: 15px;
	color: #1B7CED;
	font-weight: 400;
	float: left;
}

.feature-link:hover {
	text-decoration: underline;
}	

/****** Get Started ******/

.get-started {
	display: flex;
	margin-top: 80px;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 100%;
	height: 300px;
	background-color: #FF7E73;
}

.get-started h1 {
	color: #f9f9f9;
	font-family: 'Roboto Black', sans-serif;	
}
.get-started h4 {
	text-align: center;
	color: #f9f9f9;
	font-family: 'Roboto Light'
}

#button3 {
	padding: 15px 20px;
	background-color: #F9F9F9;	
	color: #FF7E73;
}

#button3:hover {
	padding: 14px 19px;
}

/****** Footer ******/

.footer {
	width: 100vw;
	display: block;
	overflow: hidden;
	padding: 60px 0 0 0;
	box-sizing: border-box;
	background-color: #f9f9f9;
}

.inner-footer {
	display: block;
	margin: 0 auto;
	width: 1100px;
	height: 100%;
	margin-bottom: 210px;
}


.inner-footer .logo-container {
	width: 35%;
	float: left;
	height: 100%;
	display: block;
}

.inner-footer .logo-container img {
	width: 100px;
	height: auto;
}

.inner-footer .footer-third {
	width: calc(21.67% - 20px);
	margin-right: 10px;
	float: left;
	height: 100%;
}

.inner-footer .footer-third:last-child {
	margin-right: 0;
}

#facebook {
	color: #3B5998;
}

#twitter {
	color: #08A0E9;
}

#instagram {
	color: #515BD4;
}

.inner-footer .footer-third h1 {
	font-family: 'Roboto Light', sans-serif;
	font-size: 20px;
	color: #404040;
	display: block;
	width: 100%;
	margin-bottom: 20px;
}

.inner-footer .footer-third a {
	font-family: 'Roboto Light', sans-serif;
	font-size: 14px;
	color: #404040;
	display: block;
	font-weight: 200;
	width: 100%;
	padding-bottom: 5px;
}

.footer-third li {
	list-style: none;
	display: inline-block;
	padding: 0 5px;
	font-size: 20px;
}

.footer-third i {
	font-size: 20px;
}

.inner-footer .footer-third span {
	color: #404040;
	font-size: 14px;
	font-weight: 200;
	display: block;
	width: 100%;
	padding-top: 20px;
}


@media(max-width: 600px) {
	.footer .inner-footer{
		width: 90%;
	}
	.inner-footer .logo-container,
	.inner_footer .footer-third {
		width: 100%;
		margin-bottom: 30px;
	} 
}

hr {
	opacity: 0.4;
	width: 83%;
}

.the-end p {
	display: inline-block;
	color: #606060;
}

#copyright {
	margin-left: 120px;	
}

#made {
	margin-left: 595px;
}






